<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О2 показатели работы</title>
    {% load staticfiles %}
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <style>
        body
            {color: #404040;
			background: #DDDDDD;}
        hr
            {height: 2px;
            width: 300px;}
        td  {border: #002752 solid 1px;
            font-size: 12px;
            padding-left: 8px;
            padding-right: 8px;}
        th {
            font-weight: normal;
        }
        td.left{
            border: none;
            font-size: 13px;

        }
    </style>
</head>

<body>
{% include "hole/wrapper.html" %}

<div class="row">
    <div class="col col-3" align="center">
        <table>
            <tr>
                <td class="left" colspan="2" style="font-size: 16px">
                    {{ unit.short_name }}
                </td>
            </tr>
            <tr>
                <td class="left" colspan="2">
                    ____________________________________
                </td>
            </tr>
            <tr>
                <td class="left">
                    Экспорт в EXCEL {{ unit.short_name }}
                </td>
                <td class="left">
                    <a href="/export_unit/{{ unit.id }}">click</a>
                </td>
            </tr>
            <tr>
                <td class="left">
                    Экспорт в EXCEL всей базы
                </td>
                <td class="left">
                    <a href="/export_all">click</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col col-8" style="height:700px; overflow : scroll;">
        <table align="center">
            <tr align="center">
                <th>Дата</th>
                <th>Время</th>
                <th>статус</th>
                <th>Длительность</th>
                <th>Примечание</th>
            </tr>
            {% for i in records %}
                <tr title="{{ i.comment }}">
                    <td>{{ i.datetime.date }}</td>
                    <td>{{ i.datetime.time }}</td>
                    <td>{{ i.status }}</td>
                    <td align="right">{{ i.duration }}</td>
                    <td>{{ i.remark }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
</html>