<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактрование переключения</title>
    {% load staticfiles %}
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <style>
        select.slc1, select.slc2, select.slc3 {
            width: 230px;}
        body {
            background: #DDDDDD;}
        textarea{
            font-size: 13px;
            resize: none;}
        label{
            color: #002752;
            font-weight: 600}
        hr{
            height: 2px;
            width: 300px;}
    </style>
</head>
<body>
{% include "hole/wrapper.html" %}
<p align="center">Внесение изменений в запись</p>

<div class="container" align="center">
    <form method="POST" action="/rewrite/">
        {% csrf_token %}
        <input hidden name="id" value="{{ reset.id }}">

        <table align = "center">
            <tr align="center">
                <th><label for="slc1">участок</label></th>
                <th><label for="slc2">оборудование</label></th>
                <th><label for="slc3">событие</label></th>
            </tr>
            <tr>
                <td><select class="slc1" name="area" id="slc1" onchange="_1select();"></select></td>
                <td><select class="slc2" name="short_name" id="slc2"></select></td>
                <td><select class="slc3" name="new_status" id="slc3"></select></td>
            </tr>
        </table>

        <script type="text/javascript">

            var slc1 = document.getElementById("slc1");
            var slc2 = document.getElementById("slc2");
            var slc3 = document.getElementById("slc3");
            var exsist_area = "{{ reset.get_area }}";
            var exsist_equip = "{{ reset.equip_short_name }}";
            var exist_status = "{{ reset.new_status }}";

            var dataObj = {	"Разделение воздуха":       { "equip": ["АКАр № 2", "КАр-30 № 6", "КАр-30М1 № 7", "КАр-30 № 8"],
                                        "status": ["Пуск. Выход на режим", "Ввод в коллектор", "Остановка/вывод в резерв", "Аварийная остановка", "Вывод  в ремонт", "Вывод в атмосферу", "Отогрев", "Не эксплуатируется"]},
                        "Компрессия воздуха":		{ "equip": ["ТК № 1", "ТК № 2", "ТК № 3", "ТК № 4", "ТК № 5", "ТК № 6", "ТК № 7", "ТК № 8", "ТК № 9", "ТК № 10", "ТК № 11", "ТК № 12", "ТК № 13", "ТК № 14", "ТК № 15", "ТК № 16", "ТК № 18", "ТК № 19", "ТК № 20", "ТК № 21", "ТК № 22", "ТК № 23", "ТК № 24", "ТК № 25"],
                                        "status": ["Пуск (пуск в атмосферу)", "Ввод в коллектор", "Остановка/вывод в резерв", "Аварийная остановка", "Вывод  в ремонт", "Вывод в атмосферу", "Не эксплуатируется"]},
                        "Компрессия кислорода. КТК":    { "equip": ["КТК № 2", "КТК № 3", "КТК № 4", "КТК № 5", "КТК № 6", "КТК № 7", "КТК № 8", "КТК № 9", "КТК № 10", "КТК № 11", "КТК № 12"],
                                        "status": ["Пуск (пуск в атмосферу)", "Ввод в коллектор", "Остановка/вывод в резерв", "Аварийная остановка", "Вывод  в ремонт", "Вывод в атмосферу","Пуск в обкатку", "Не эксплуатируется"]},
                        "Компрессия кислорода. ТГ" :    { "equip": ["ТГ № 2", "ТГ № 4", "ТГ № 5", "ТГ № 6", "ТГ № 7", "ТГ № 8", "ТГ № 9", "ТГ № 10", "ТГ № 11", "ТГ № 12", "ТГ № 13", "ТГ № 14", "ТГ № 15", "ТГ № 17"],
                                        "status": ["Пуск (пуск в атмосферу)", "Ввод в коллектор", "Остановка/вывод в резерв", "Аварийная остановка", "Вывод  в ремонт", "Вывод в атмосферу","Пуск в обкатку", "Не эксплуатируется"]},
                        "Сжатый воздух":	            { "equip": ["К-1500 № 10 (ЦРВ-1)", "К-1500 № 12 (ЦРВ-1)", "К-1500 № 13 (ЦРВ-1)", "К-500 № 7 (ЦКС-1)", "К-500 № 8 (ЦКС-1)", "К-500 № 11 (ЦКС-1)", "К-500 № 12 (ЦКС-1)", "К-525 №1 (КВУ)", "К-525 № 2 (КВУ)", "К-500 № 1 (ЦКС-2)", "К-500 № 2 (ЦКС-2)"],
                                        "status": ["Пуск (пуск в атмосферу)", "Ввод в коллектор", "Остановка/вывод в резерв", "Аварийная остановка", "Вывод  в ремонт", "Вывод в атмосферу", "Не эксплуатируется"]},
                        "Азотоснабжение" :	            { "equip": ["КТК № 1", "АТК № 1", "АТК № 2", "К-500 № 5 (СКА)", "К-500 № 6 (СКА)", "К-500 № 7 (СКА)"],
                                        "status": ["Пуск (пуск в атмосферу)", "Ввод в коллектор", "Остановка/вывод в резерв", "Аварийная остановка", "Вывод  в ремонт", "Вывод в атмосферу", "Не эксплуатируется"]}
                    };

            let area = Object.keys(dataObj);
            take_select(area, slc1, exsist_area);
            _1select();

            function _1select() {
                slc2.innerHTML = "";
                slc3.innerHTML = "";
                let equip = (dataObj[slc1.value]["equip"]);
                let status = (dataObj[slc1.value]["status"]);
                take_select(equip, slc2, exsist_equip);
                take_select(status, slc3, exist_status);
            }

            function take_select(arr, s, trafaret) {
                arr.forEach(o => {
                let opt = document.createElement("option");
                opt.value = o;
                if (o == trafaret) {opt.setAttribute("selected", "selected");}
                opt.innerHTML = o;
                s.add(opt);
                });
            }
        </script>

        <hr>
        <table>
            <tr>
                <td style="font-weight: 600; color: #002752">дата и время</td>
                <td><input type="date" name="data" value="{{ reset.data.year }}-{{ reset.get_month }}-{{ reset.get_day }}"/></td>
                <td><input type="time" name="time" step="300" value="{{ reset.get_hour }}:{{ reset.get_minute }}"></td>
            </tr>
        </table>
        <hr>
        <textarea name="comment" cols="48" rows="6"  maxlength="200">{{ reset.comment }}</textarea>

        <br>
        <input type="submit" value="Сохранить">
    </form>
</div>
</body>