
{% block content %}
    {% load staticfiles %}
    <br>
    <div class="container" align="center">

        <img  src="../../../static/image/logo2.png" >
        <hr style="width: auto">
        <a href="/" class="btn btn-outline-secondary" style="font-weight: 500">Главная</a>
        <a href="/resume" class="btn btn-outline-secondary" style="font-weight: 500">Обзор</a>
        <a href="/analysis" class="btn btn-outline-secondary" style="font-weight: 500">Анализ работы</a>
        <a href="/reset_new" class="btn btn-outline-secondary" style="font-weight: 500">Новое переключение</a>
        <a href="/reset_review" class="btn btn-outline-secondary" style="font-weight: 500">Редактирование</a>
        <a href="/FAQ" class="btn btn-outline-secondary" style="font-weight: 500">Справка</a>
{#        <a href="/ie" class="btn btn-outline-secondary" style="font-weight: 500">Инструкции</a>#}
{#        <a href="/tax" class="btn btn-outline-secondary" style="font-weight: 500">Границы тарифных зон</a>#}
{#        <a href="/one_more" class="btn btn-outline-secondary" style="font-weight: 500">Галерея</a>#}
        <hr style="width: auto">
    </div>

{% endblock %}