{% block content %}
    {% load staticfiles %}
{#    <br>#}
    <div class="container" align="center">

        <img  src="../../../static/image/logo2.png" >
        <hr style="width: auto">
        <a href="/" class="btn btn-outline-secondary" style="font-weight: 500"><< На главную</a>
        <a href="/ie" class="btn btn-outline-secondary" style="font-weight: 500">Инструкции</a>
        <a href="/krz" class="btn btn-outline-secondary" style="font-weight: 500">Датчики подстанции</a>
        <a href="/tax" class="btn btn-outline-secondary" style="font-weight: 500">Границы тарифных зон</a>
        <a href="/one_more" class="btn btn-outline-secondary" style="font-weight: 500">Галерея</a>
        <hr style="width: auto">
    </div>

{% endblock %}